body {
	font-size:100%;
	margin: 0;
	font-family: -apple-system, "Helvetica Neue",BlinkMacSystemFont, "Segoe UI", 
	"Microsoft Yahei UI Light",	Roboto, Oxygen-Sans, Ubuntu, Cantarell,  sans-serif;
}

:root{
	--svg-highlight-stroke-color :limegreen;
	--button-highlight-color :limegreen;
	--checkbox-checked-color :limegreen;
	--highlight:rgb(99, 240, 99);
	--highlightText:black;
	--highlight0:limegreen;
	--highlight1:rgb(255, 146, 146);
	--hover: rgb(167, 255, 167);
	--button-disabled : #333; 
	--button-unselected : #666; 
	--button-selected: #FFFFFF ; 
	--panel-background: rgba(22,22,22,0.9);
	--quotetext: limegreen;
	--splitter: #131313;
	--menubackground: rgba(92, 76, 2, 0.6);
	--collapsebackground: rgba(92, 76, 2, 0.6);
	--marker1 :rgb(92, 99, 0);
	--marker2 :rgb(0, 95, 139);
	--marker3 :darkgreen;
	--marker4 :rgb(145, 86, 15);
	--marker5 :darkmagenta;
}

html {
	position: relative;
	overflow:hidden;
	width: 100%;
	height: 100%;
	background:black;
	color:silver;
	stroke: silver;
}
a {	color: rgb(0,100,200);	text-decoration: none;}
a:hover {	text-decoration: underline;}
a:visited {	color: rgb(0,80,160);}
label {	display: block;}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.0em 0;
	padding: 0em;
	margin: 0 0 0.1rem 0;
	background-color: #ccc;
	box-sizing: border-box;
	/* border: 1px solid #ccc; */
	border-radius: 4px;
}
input {	background:#333333;color:gray;	border:0px;}
input:focus{	background:#aaa;color:black;	border-radius: 0px;}
input:disabled {	color: silver;	background:#111;}

button {
	/* color: #333; */
	/* background-color: #f4f4f4; */
	outline: none;
}
button:disabled {	color: #999;}
button:not(:disabled):active {	background-color: #ddd;}
button:focus {	border-color: #666;}
::-webkit-scrollbar {    width: 15px;}
::-webkit-scrollbar-thumb {    border-radius: 20px;    background: rgba(116, 250, 39, 0.2);}
::-webkit-scrollbar-track {    background: #85858534;    border-radius: 10px;}



.pitaka .title {font-family: 楷体,標楷體;}
.pitaka .description {font-size:1rem;color:rgb(160, 144, 116)}
.pitaka .loadtime {font-size:1rem;color:gold}
.tabs {--webkit-user-select: none; background:var(--panel-background);overflow:hidden}
.tab-content {
	position: absolute;
    /* height:90vh; */
	width:100%;
    /* width:30vw; */
		/* !important; */
	opacity: 0;
	pointer-events: none;
	overflow:hidden;
}
.tab-content.visible {/* can't use visibility due to a weird painting bug in Chrome */
  opacity: 1;
  pointer-events: all;
}

.dropdownpanel{/*font-size:1rem;*/
	position:absolute;
	overflow-y:auto;
	padding-left:2px;padding-bottom:0.5em;height:50%;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	right:0;max-width:15em;background:var(--panel-background)}
.hamburger {float:right;padding-right:2rem}

.lds-ring {	display: inline-block;	position: relative;	width: 1em; height: 1em;  }
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 0.8em;
	height: 0.8em;
	margin: 4px;
	border: 4px solid #cef;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #cef transparent transparent transparent;
}
.lds-ring div:nth-child(1) {	animation-delay: -0.45s;  }
.lds-ring div:nth-child(2) {	animation-delay: -0.3s;  }
.lds-ring div:nth-child(3) {	animation-delay: -0.15s;  }
@keyframes lds-ring {
0% {	  transform: rotate(0deg);}
100% {	  transform: rotate(360deg);}
}

@keyframes blink {0% { opacity: 1}25% {opacity: 0.7}50% {opacity: 0.5}75% {opacity: 0.7}100%{opacity: 1}}
.blink {animation: blink 1.2s linear 0s infinite;}
.closetabbutton{padding-left:8px;padding-right:8px;cursor:pointer}
/* /* .closetabbutton:after {content:'✕'} */
.closetabbutton:hover:before {color:red;content:'✖';display:inline-block;width:0px} 

.startbutton {margin-top:2em;font-size:150%;cursor:pointer;border-radius:
	 1em;border:3px goldenrod solid;padding-left:10px;padding-right:10px}
.startbutton:hover {background:gray}
.hyperlink{cursor:pointer}
.hyperlink:hover{ text-decoration:underline}
.bookid {font-size:80%;font-weight:bold;font-family: Courier;color:goldenrod}
.clickable {cursor:pointer}
.clickable:hover {text-decoration:underline}

.bookmark {width:1rem;height:1rem;float:right;cursor:pointer;margin-top:0.5em;background:transparent}
.bookmark.bookmark1 {width:0;height:0;border-left:1rem solid transparent;
	border-bottom: 1rem solid var(--button-unselected)} 
.bookmark.bookmark2 {width:0;height:0;border-left:1rem solid transparent;
	border-bottom: 1rem solid goldenrod;}
.bookmark:hover{background:var(--button-selected);border-top-left-radius: 1rem;}


.tabselector {margin-left:1.5em;padding-left:4px;position:absolute;background:var(--menubackground);
	box-shadow: 1 5 10px ;min-height:5em;min-width:10em;max-height: 15em;overflow-y:scroll}  

.linetext {padding-left:6px;padding-top:0.5em;line-height:1.8}
.activeline {padding-left:2px;border-left:4px dotted gray}

.selectionmenu {position:absolute;z-index: 999;
	-webkit-user-select: none; border-radius: 5px; padding-top:5px; padding-left:5px;
	background:var(--menubackground);visibility: hidden;}